html * 
{
    font-family: sans-serif;
}

/* Header Bar */
#headline {
    background-color: #373737; /*Background color of header */
    color: #FFFFFF;            /* Text color inside header */ 
 
    line-height:80px;
    font-size: 45px;
    
}

/* Second Header Bar */
#headline2 {
    background-color: #737373;
    height: 2px; 
}


#sidebar {
    font-size:25px;
}

p {
    font-size:20px;
}
.indentedP {
    padding-left: 30px;
    font-size: 18px;
}
body {
    background: #F2F3F4; /* Background color of body */
    color: #222222;      /* Text color of body */
}
#fixed-width {
    max-width: 200px;
}

.body_header {
    padding-top: 15px;
    font-size: 22px;
}
hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, #963232, #FFFFFF);
}
a {
    font-size: 20px;   
}